{% extends 'index.html' %}
{% block title %}REGISTER{% endblock %}
{% block content %}
<h2>Register</h2>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category,message in messages %}
<span>{{ message }}</span>
{% endfor %}
{% endif %}
{% endwith %}
<form action="{{ url_for('auth.register') }}" method="POST">
    <div>
        <label for="">First Name</label>
        <input type="text" name="first_name" id="first_name">
    </div>
    <div>
        <label for="">last name</label>
        <input type="text" name="last_name" id="lats_name">
    </div>
    <div>
        <label for="">Email</label>
        <input type="text" name="email" id="email">

    </div>
    <div>
        <label for="">Password</label>
        <input type="password" name="password" id="password">
    </div>
    <button>Register</button>
</form>
{% endblock %}